gunicorn==19.9.0
asn1crypto==0.24.0
backports-abc==0.5
backports.functools-lru-cache==1.5
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
Click==7.0
conda==4.5.11
configparser==3.5.0
cryptography==2.3.1
cycler==0.10.0
enum34==1.1.6
Flask==1.0.2
Flask-Cors==3.0.6
functools32==3.2.3.post2
futures==3.2.0
idna==2.6
ipaddress==1.0.22
itsdangerous==0.24
Jinja2==2.10
kiwisolver==1.0.1
MarkupSafe==1.0
matplotlib==1.5.1
menuinst==1.4.14
mkl-fft==1.0.4
numpy==1.15.1
PIL==1.1.7
pycosat==0.6.3
pycparser==2.18
pygame==1.9.2a0
pymongo==3.7.2
pyOpenSSL==18.0.0
pyparsing==2.2.0
PySocks==1.6.8
python-dateutil==2.7.3
python-firebase==1.2
python-http-client==3.1.0
pytz==2018.5
pywin32==223
requests==2.20.0
ruamel-yaml==0.15.37
singledispatch==3.4.0.3
six==1.11.0
tornado==5.1
urllib3==1.22
Werkzeug==0.14.1
win-inet-pton==1.0.1
wincertstore==0.2